<% if User.count.zero? || (user_signed_in? && current_user.admin?) %>
  <div class="wrapper">
    <div class="form-signin">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <h3 class="form-signin-heading">Cadastro</h3>
        <hr class="colorgraph"><br>
        <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
        <%= f.input :password, required: true, input_html: { autocomplete: "new-password", class: "form-control" } %>
        <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "form-control" } %>
        <%= f.button :submit, "Registrar", class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
      <% if User.count.zero? %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
<% end %>