<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Minhas tarefas
      <button type="button" name="button" class="btn btn-230 btn-success float-right" data-toggle='modal' data-target='#new-task-modal'>
        <%=  fa_icon 'plus' %> Nova tarefa
      </button>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet table-skynet-index table-hover header-fixed margin-none">
    <thead>
      <tr>
        <th class="w-70">Tarefa</th>
        <th class="w-15">Estado</th>
        <th class="w-15">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.aberta.each_with_index do |task, index| %>
        <tr>
          <td>
            <%= best_in_place task, :description, :as => :textarea, activator: "#description_activator_aberta_#{index}" %>
            <%= link_to "#", id: "description_activator_aberta_#{index}", class: 'action-icon' do %>
              <%=  fa_icon 'pencil' %>
            <% end %>
          </td>
          <td>
            <%= best_in_place task, :status, :as => :select, collection: Task.statuses.keys.map { |w| [w, w.humanize] }, activator: "#status_activator_aberta_#{index}" %>
            <%= link_to "#", id: "status_activator_aberta_#{index}", class: 'action-icon' do %>
              <%=  fa_icon 'pencil' %>
            <% end %>
          </td>
          <td>
            <%= link_to task, class: 'action-icon', data: { method: :delete, confirm: 'Tem certeza?' } do %>
              <%=  fa_icon 'trash-o', data: { toggle: 'tooltip' }, title: 'Remover' %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% @tasks.completa.each_with_index do |task, index| %>
        <tr class="table-secondary">
          <td class="striker">
            <%= best_in_place task, :description, :as => :textarea, activator: "#description_activator_completa_#{index}" %>
            <%= link_to "#", id: "description_activator_completa_#{index}", class: 'action-icon' do %>
              <%=  fa_icon 'pencil' %>
            <% end %>
          </td>
          <td>
            <%= best_in_place task, :status, :as => :select, collection: Task.statuses.keys.map { |w| [w, w.humanize] }, activator: "#status_activator_completa_#{index}" %>
            <%= link_to "#", id: "status_activator_completa_#{index}", class: 'action-icon' do %>
              <%=  fa_icon 'pencil' %>
            <% end %>
          </td>
          <td>
            <%= link_to task, class: 'action-icon', data: { method: :delete, confirm: 'Tem certeza?' } do %>
              <%=  fa_icon 'trash-o', data: { toggle: 'tooltip' }, title: 'Remover' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'tasks/new_modal' %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery(".best_in_place").best_in_place();
    });
  </script>
<% end %>
