<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Home
    </h2>
  </div>

  <%= render 'notice' %>

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-pastel card-header-icon">
          <div class="card-icon">
            <%=  fa_icon 'user' %>
          </div>
          <p class="card-category">Usuários cadastrados</p>
          <h3 class="card-title"><%= current_user.customers.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="/customers">Ver todos +</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-pastel card-header-icon">
          <div class="card-icon">
            <%=  fa_icon 'wrench' %>
          </div>
          <p class="card-category">Equipamentos<br><br></p>
          <h3 class="card-title"><%= current_user.gadgets.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a href="/gadgets">Ver todos +</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-pastel card-header-icon">
          <div class="card-icon">
            <%=  fa_icon 'close' %>
          </div>
          <p class="card-category">Clientes atrasados</p>
          <h3 class="card-title"><%= @late_customers.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <%= link_to 'Ver todos +', custom_table_customers_path(type: 'late_customers') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-pastel card-header-icon">
          <div class="card-icon">
            <%=  fa_icon 'warning' %>
          </div>
          <p class="card-category">Vencem hoje<br><br></p>
          <h3 class="card-title"><%= @late_today_customers.count %></h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <%= link_to 'Ver todos +', custom_table_customers_path(type: 'late_today_customers') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
