<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Home
    </h2>
  </div>

  <%= render 'notice' %>

  <div class="row">
    <div class="col-6">
      <h3 class="margin-bottom-20">Vencem hoje</h3>
      <table class="table table-skynet table-skynet-index-simple table-striped table-hover header-fixed margin-none">
        <thead>
          <tr>
            <th class="w-30">Nome</th>
            <th class="w-40">Email</th>
            <th class="w-30">Pagamento</th>
          </tr>
        </thead>
        <tbody>
          <% @late_today_customers.each_with_index do |customer, index| %>
            <tr>
              <td class="ellipsis">
                <%= link_to customer.name, customer %>  <%# link_to '(+)', '/', data: { toggle: "collapse", target: "#collapse#{index}" }, aria: { expanded: "true", controls: "collapse#{index}" } %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <%= render 'payment_badge', payment: customer.payments.last %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h3 class="margin-bottom-20">Vencidas</h3>
      <table class="table table-skynet table-skynet-index-simple table-striped table-hover header-fixed margin-none">
        <thead>
          <tr>
            <th class="w-30">Nome</th>
            <th class="w-40">Email</th>
            <th class="w-30">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <% @late_customers.each_with_index do |customer, index| %>
            <tr>
              <td class="ellipsis">
                <%= link_to customer.name, customer %>  <%# link_to '(+)', '/', data: { toggle: "collapse", target: "#collapse#{index}" }, aria: { expanded: "true", controls: "collapse#{index}" } %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <%= customer.phone %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6 margin-top-40">
      <h3 class="margin-bottom-20">Últimos registros</h3>
      <table class="table table-skynet table-skynet-index-simple table-striped table-hover header-fixed margin-none">
        <thead>
          <tr>
            <th class="w-30">Nome</th>
            <th class="w-40">Email</th>
            <th class="w-30">Pagamento</th>
          </tr>
        </thead>
        <tbody>
          <% @last_registered_customers.each_with_index do |customer, index| %>
            <tr>
              <td class="ellipsis">
                <%= link_to customer.name, customer %>  <%# link_to '(+)', '/', data: { toggle: "collapse", target: "#collapse#{index}" }, aria: { expanded: "true", controls: "collapse#{index}" } %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <%= render 'payment_badge', payment: customer.payments.last %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6 margin-top-40">
      <h3 class="margin-bottom-20">Aniversariantes do mês</h3>
      <table class="table table-skynet table-skynet-index-simple table-striped table-hover header-fixed margin-none">
        <thead>
          <tr>
            <th class="w-30">Nome</th>
            <th class="w-40">Email</th>
            <th class="w-30">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <% @birthday_today_customers.each_with_index do |customer, index| %>
            <tr>
              <td class="ellipsis">
                <%= link_to customer.name, customer %>  <%# link_to '(+)', '/', data: { toggle: "collapse", target: "#collapse#{index}" }, aria: { expanded: "true", controls: "collapse#{index}" } %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <%= customer.phone %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
