<%= simple_form_for(Customer.new) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs form-group">
    <%= f.input :name, label: false %>
    <%= f.input :email, label: false %>
    <%= f.input :cpf, label: false %>
    <%= f.input :birthdate, label: false %>
    <%= f.input :phone, label: false %>
    <%= f.input :cellphone, label: false %>
    <%= f.simple_fields_for :packages do |p| %>
      <%= p.input :plan, collection: Package.plans %>
      <%= p.input :value %>
      <%= p.input :expires_at %>
      <%= p.input :status, collection: Package.statuses %>
      <%= p.input :protocol %>
    <% end %>
  </div>

  <div class="form-actions form-group">
    <%= f.button :submit, 'Criar', class: 'btn-success' %>
  </div>
<% end %>
