<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Lista de clientes
      <button type="button" name="button" class="btn btn-230 btn-success float-right" data-toggle='modal' data-target='#new-customer-modal'>
        <%=  fa_icon 'plus' %> Novo cliente
      </button>
      <% unless @customers.count.zero?  %>
        <button type="button" name="button" class="btn btn-230 btn-danger float-right"   data-toggle='modal' data-target='#create-monthly-payments-modal'>
          <%=  fa_icon 'usd' %> Pagamentos mês <span class="badge badge-light"> <%= Date.current.month %></span>
        </button>
      <% end %>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet table-skynet-index table-striped table-hover header-fixed margin-none">
    <thead>
      <tr>
        <th class="w-10">Avatar</th>
        <th class="w-30">Nome</th>
        <th class="w-25">Email</th>
        <th class="w-15">Celular</th>
        <th class="w-15">Pagamento</th>
        <th class="w-15">Ações</th>
      </tr>
    </thead>
    <tbody id="accordion">
      <% @customers.each_with_index do |customer, index| %>
        <tr id="headingOne">
          <td class="ellipsis position-relative">
            <span class="btn btn-purple btn-circle-avatar btn-rel">
              <%= link_to customer.initials_letter, customer %>
            </span>
          </td>
          <td class="ellipsis">
            <%= link_to customer.name, customer %>
          </td>
          <td class="ellipsis"><%= customer.email %></td>
          <td><%= customer.cellphone %></td>
          <td class="position-relative">
            <%= render 'payment_badge', payment: customer.payments.last %>
          </td>
          <td>
            <%= link_to customer, class: 'action-icon' do %>
              <%=  fa_icon 'pencil', data: { toggle: 'tooltip' }, title: 'Editar' %>
            <% end %>
            <%= link_to "#", class: 'action-icon set-gadget-btn', data: { toggle: "modal", target: "#set-gadget-modal", cid: customer.id } do %>
              <%=  fa_icon 'wrench', data: { toggle: 'tooltip' }, title: 'Associar equip.' %>
            <% end %>
            <%= link_to customer, class: 'action-icon', data: { method: :delete, confirm: 'Tem certeza?' } do %>
              <%=  fa_icon 'trash-o', data: { toggle: 'tooltip' }, title: 'Remover' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'customers/new_modal' %>
<%= render 'payments/new_modal', customer: @customer %>
<%# FIXME should user current_user.gadgets %>
<%= render 'gadgets/set_modal', gadgets: current_user.gadgets, gadget_allocation: @gadget_allocation %>
<%= render 'payments/create-monthly-payments-modal' %>


<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function () {
      if ($('.set-gadget-btn')) {
        $('.set-gadget-btn').on("click", function () {
          $('#gadget_allocation_customer_id').val($(this).data('cid'))
        });
      }
    });
  </script>
<% end %>
