<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Clientes
      <button type="button" name="button" class="btn btn-230 btn-success float-right" data-toggle='modal' data-target='#new-customer-modal'>
        <%=  fa_icon 'plus' %> Novo cliente
      </button>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet table-skynet-index table-striped table-hover header-fixed margin-none">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="accordion">
      <% @customers.each_with_index do |customer, index| %>
        <tr id="headingOne">
          <td>
            <!-- What is this? ND56 -->
            <%= link_to customer.name, customer %> <% if customer.gadgets.any? %> <%= link_to '(+)', '/', data: { toggle: "collapse", target: "#collapse#{index}" }, aria: { expanded: "true", controls: "collapse#{index}" } %> <% end %>
          </td>
          <td><%= customer.email %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.cellphone %></td>
          <td>
            <%= link_to customer, class: 'action-icon' do %>
              <%=  fa_icon 'pencil', data: { toggle: 'tooltip' }, title: 'Editar' %>
            <% end %>
            <%= link_to "#", class: 'action-icon', data: { toggle: "modal", target: "#set-gadget-modal" } do %>
              <%=  fa_icon 'wrench', data: { toggle: 'tooltip' }, title: 'Associar equip.' %>
            <% end %>
            <%= link_to customer, class: 'action-icon', data: { method: :delete, confirm: 'Tem certeza?' } do %>
              <%=  fa_icon 'trash-o', data: { toggle: 'tooltip' }, title: 'Deletar' %>
            <% end %>
          </td>
        </tr>
        <% if customer.gadgets.any? %>
          <tr class="collapse"></tr>
          <tr id="<%= "collapse#{index}" %>" class="collapse" aria-labelledby="<%= "heading#{index}" %>" data-parent="#accordion">
            <td>Equipamentos</td>
            <td colspan="4">
              <% customer.gadgets.each do |gadget| %>
                <%= link_to gadget.card, gadget %><br>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% customer.packages.each do |package| %>
          <tr class="collapse"></tr>
          <tr id="<%= "collapse#{index}" %>" class="collapse" aria-labelledby="<%= "heading#{index}" %>" data-parent="#accordion">
            <td>Plano <%= package.plan %></td>
            <td>
              R$ <%= package.value %>
            </td>
            <td colspan="3">
              <%= package.status %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'customers/new_modal' %>
<%# FIXME should user current_user.gadgets %>
<%= render 'gadgets/set_modal', gadgets: Gadget.all, gadget_allocation: @gadget_allocation %>
