<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Clientes
      <button type="button" name="button" class="btn btn-230 btn-success float-right" data-toggle='modal' data-target='#new-customer-modal'>
        <%=  fa_icon 'plus' %> Novo cliente
      </button>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet table-striped table-hover header-fixed margin-none">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= link_to customer.name, customer %> <%= link_to '(ND56)', '/' %>
            <p class="font-italic"><%= customer.address %></p>
          </td>
          <td><%= customer.email %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.cellphone %></td>
          <td>
            <%= link_to customer, class: 'action-icon' do %>
              <%=  fa_icon 'pencil', data: { toggle: 'tooltip' }, title: 'Editar' %>
            <% end %>
            <%= link_to "#", class: 'action-icon', data: {toggle: "modal", target: "#info-customer-modal" } do %>
              <%=  fa_icon 'eye', data: { toggle: 'tooltip' }, title: 'Detalhes' %>
            <% end %>
            <%= link_to customer, class: 'action-icon', data: { method: :delete, confirm: 'Tem certeza?' } do %>
              <%=  fa_icon 'trash-o', data: { toggle: 'tooltip' }, title: 'Deletar' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'customers/new_modal' %>
