<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Cliente <%= @customer.name %>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet table-skynet-show">
    <tbody>
      <%= render 'best_in_place_field', field_title: 'Nome', record: @customer, field_name: 'name', type: '' %>
      <%= render 'best_in_place_field', field_title: 'E-mail', record: @customer, field_name: 'email', type: '' %>
      <%= render 'best_in_place_field', field_title: 'CPF', record: @customer, field_name: 'cpf', type: 'cpf_document' %>
      <%= render 'best_in_place_field', field_title: 'Endereço', record: @customer, field_name: 'address', type: '' %>
      <%= render 'best_in_place_field', field_title: 'Data de nasc.', record: @customer, field_name: 'birthdate', type: 'date' %>
      <%= render 'best_in_place_field', field_title: 'Telefone', record: @customer, field_name: 'phone', type: 'phone' %>
      <%= render 'best_in_place_field', field_title: 'Celular', record: @customer, field_name: 'cellphone', type: 'phone' %>
      <tr>
        <td>Criação</td>
        <td><%= @customer.created_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
      <tr>
        <td>Últ. Modificação</td>
        <td><%= @customer.updated_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <%= render 'comments/comments_form', customer: @customer, comment: @comment %>

  <table class="table table-skynet margin-top-30">
    <thead>
      <tr>
        <th class="w-70"><strong>Equipamentos</strong></th>
        <th class="w-30"></th>
      </tr>
    </thead>
    <tbody>
      <% if @customer.gadgets.any? %>
        <% @customer.gadgets.each do |gadget| %>
          <tr>
            <td><%= link_to gadget.card, gadget %></td>
            <td>
              <%= link_to gadget_dealloc_path(gadget), class: 'action-icon', data: { confirm: 'Tem certeza?' } do %>
                <%=  fa_icon 'close', data: { toggle: 'tooltip' }, title: 'Desassociar' %> Desassociar
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan="3">Não há equipamentos alocados à este cliente</td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-skynet margin-top-30">
    <thead>
      <tr>
        <th colspan="5"><strong>Planos associados</strong></th>
      </tr>
      <tr>
        <td class="w-20"></td>
        <td class="w-20">Plano</td>
        <td class="w-20">Estado</td>
        <td class="w-20">Valor</td>
        <td class="w-20">Data venc.</td>
      </tr>
    </thead>
    <tbody>
      <% if @customer.packages.any? %>
        <% @customer.packages.each do |package| %>
          <tr>
            <td></td>
            <td>
              <%= best_in_place package, :plan, :as => :select, collection: Package.plans, activator: '#plan_activator' %>
              <%= link_to "#", id: 'plan_activator', class: 'action-icon' do %>
                <%=  fa_icon 'pencil' %>
              <% end %>
            </td>
            <td>
              <%= best_in_place package, :status, :as => :select, collection: Package.statuses, activator: '#status_activator' %>
              <%= link_to "#", id: 'status_activator', class: 'action-icon' do %>
                <%=  fa_icon 'pencil' %>
              <% end %>
            </td>
            <td>
              R$ <%= render 'best_in_place_field_single', field_title: 'Valor', record: package, field_name: 'value', type: 'money' %>
            </td>
            <td>
              <%= render 'best_in_place_field_single', field_title: 'Data venc.', record: package, field_name: 'expires_at', type: 'date' %>
            </td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan="3">Não há equipamentos alocados à este cliente</td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row margin-top-20 text-center">
    <div class="col-sm-4 margin-bottom-xs-10">
      <%= link_to customers_path, class: 'btn btn-small text-dark' do %>
        <%=  fa_icon 'arrow-left' %> Voltar
      <% end %>
    </div>
    <div class="col-sm-4 margin-bottom-xs-10">
      <button type="button" name="button" class="btn btn-210 btn-success" data-toggle='modal' data-target='#set-gadget-modal'>
        <%=  fa_icon 'plus' %> Alocar equipamento
      </button>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Deleter cliente', customer_path(@customer), class: 'btn btn-210 btn-danger', data: { confirm: 'Tem certeza?' }, method: :delete %>
    </div>
  </div>
</div>
<%# FIXME should user current_user.gadgets %>
<%= render 'gadgets/set_modal', gadgets: Gadget.all, gadget_allocation: @gadget_allocation %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery(".best_in_place").best_in_place();
    });
  </script>
<% end %>
