<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @customer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= @customer.cpf %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= @customer.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @customer.phone %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= @customer.cellphone %>
  </p>

  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>

  <%= render 'comments/comments_form' %>
  <%= @customer.comments.count %> Comentários
  <%= render @customer.comments %>
</div>
