<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Cliente <%= @customer.name %>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet">
    <tbody>
      <tr>
        <td>Nome</td>
        <td><%= best_in_place @customer, :name, :as => :input, activator: '#name_activator' %></td>
        <td>
          <%= link_to "#", id: 'name_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td><%= best_in_place @customer, :email, :as => :input, activator: '#email_activator' %></td>
        <td>
          <%= link_to "#", id: 'email_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>CPF</td>
        <td><%= best_in_place @customer, :cpf, :as => :input, activator: '#cpf_activator' %></td>
        <td>
          <%= link_to "#", id: 'cpf_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Data de nasc.</td>
        <td><%= best_in_place @customer, :birthdate, :as => :input, activator: '#birthdate_activator' %></td>
        <td>
          <%= link_to "#", id: 'birthdate_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Telefone</td>
        <td><%= best_in_place @customer, :phone, :as => :input, activator: '#phone_activator' %></td>
        <td>
          <%= link_to "#", id: 'phone_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Celular</td>
        <td><%= best_in_place @customer, :cellphone, :as => :input, activator: '#cellphone_activator' %></td>
        <td>
          <%= link_to "#", id: 'cellphone_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Criação</td>
        <td><%= @customer.created_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
      <tr>
        <td>Últ. Modificação</td>
        <td><%= @customer.updated_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-skynet margin-top-30">
    <thead>
      <tr>
        <td colspan="3"><strong>Equipamentos</strong></td>
      </tr>
    </thead>
    <tbody>
      <% if @customer.gadgets.any? %>
        <% @customer.gadgets.each do |gadget| %>
          <tr>
            <td><%= link_to gadget.card, gadget %></td>
            <td><% gadget.nds %></td>
            <td><%= 'Ação' %></td>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td colspan="3">Não há equipamentos alocados à este cliente</td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row margin-top-20 text-center">
    <div class="col-sm-4 margin-bottom-xs-10">
      <%= link_to customers_path, class: 'btn btn-small text-dark' do %>
        <%=  fa_icon 'arrow-left' %> Voltar
      <% end %>
    </div>
    <div class="col-sm-4 margin-bottom-xs-10">
      <button type="button" name="button" class="btn btn-210 btn-success" data-toggle='modal' data-target='#set-gadget-modal'>
        <%=  fa_icon 'plus' %> Alocar equipamento
      </button>
    </div>
    <div class="col-sm-4">
      <%= link_to 'Deleter cliente', customer_path(@customer), class: 'btn btn-210 btn-danger', data: { confirm: 'Tem certeza?' }, method: :delete %>
    </div>
  </div>
</div>
<%# FIXME should user current_user.gadgets %>
<%= render 'gadgets/set_modal', gadgets: Gadget.all.inactive, customer: @customer, gadget_allocation: @gadget_allocation %>

<script type="text/javascript">
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>
