<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Equipamento <%= @gadget.card %>
    </h2>
  </div>

  <%= render 'notice' %>

  <table class="table table-skynet">
    <tbody>
      <%= render 'best_in_place_field', field_title: 'Card', record: @gadget, field_name: 'card', type: '' %>
      <%= render 'best_in_place_field', field_title: 'NDS', record: @gadget, field_name: 'nds', type: '' %>
      <%= render 'best_in_place_field', field_title: 'Modelo', record: @gadget, field_name: 'model', type: '' %>
      <tr>
        <td>Estado</td>
        <td><%= best_in_place @gadget, :status, :as => :select, collection: Gadget.statuses.keys.map { |w| [w, w.humanize] }, activator: '#status_activator' %></td>
        <td>
          <%= link_to "#", id: 'status_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Cliente</td>
        <td>
          <% if @gadget.customer.present? %>
            <%= link_to @gadget.customer.name, @gadget.customer %>
          <% else %>
            -
          <% end %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Criação</td>
        <td><%= @gadget.created_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
      <tr>
        <td>Últ. Modificação</td>
        <td><%= @gadget.updated_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="margin-top-20">
    <%= link_to gadgets_path, class: 'btn btn-small text-dark' do %>
      <%=  fa_icon 'arrow-left' %> Voltar
    <% end %>
    <div class="float-right">
      <%= link_to 'Remover', gadget_path(@gadget), class: 'btn btn-210 btn-danger', data: { confirm: 'Tem certeza?' }, method: :delete %>
    </div>
  </div>
</div>


<%= content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      jQuery(".best_in_place").best_in_place();
    });
  </script>
<% end %>
