<div class="container container-skynet">
  <div class="container-title margin-bottom-50 clearfix">
    <h2>
      Equipamento <%= @gadget.card %>
    </h2>
  </div>

  <table class="table table-skynet">
    <tbody>
      <tr>
        <td>Card</td>
        <td><%= best_in_place @gadget, :card, :as => :input, activator: '#card_activator' %></td>
        <td>
          <%= link_to "#", id: 'card_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>NDS</td>
        <td><%= best_in_place @gadget, :nds, :as => :input, activator: '#nds_activator' %></td>
        <td>
          <%= link_to "#", id: 'nds_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Modelo</td>
        <td><%= best_in_place @gadget, :model, :as => :input, activator: '#model_activator' %></td>
        <td>
          <%= link_to "#", id: 'model_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Estado</td>
        <td><%= best_in_place @gadget, :status, :as => :select, collection: Gadget.statuses, activator: '#status_activator' %></td>
        <td>
          <%= link_to "#", id: 'status_activator', class: 'action-icon' do %>
            <%=  fa_icon 'pencil' %> Editar
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Criação</td>
        <td><%= @gadget.created_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
      <tr>
        <td>Últ. Modificação</td>
        <td><%= @gadget.updated_at.strftime('%d/%m/%Y às %H:%m') %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="margin-top-20">
    <%= link_to gadgets_path, class: 'btn btn-small text-dark' do %>
      <%=  fa_icon 'arrow-left' %> Voltar
    <% end %>
    <div class="float-right">
      <%= link_to 'Remover', gadget_path(@gadget), class: 'btn btn-210 btn-danger', data: { confirm: 'Tem certeza?' }, method: :delete %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
</script>
